<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	</head>
	<body>		
		<div class="container">
			<h2>Spring MVC 06</h2>
			<div class="panel panel-warning">
		    	<div class="panel-heading">Board Insert Page</div>
		    	<div class="panel-body">
			    	<form action="boardInsert.do" method="post">
						<table class="table table-hover table-bordered">
							<tr>
								<td align="center">제목</td>
								<td><input type="text" class="form-control" placeholder="제목을 입력하던가" name="title" id="title"></td>
							</tr>
							<tr>
								<td align="center">내용</td>
								<td><textarea class="form-control" placeholder="내용내용내용" rows="3"  name="contents" id="contents"></textarea></td>
							</tr>
							<tr>
								<td align="center">작성자</td>
								<td><input class="form-control" type="text" placeholder="누구세요?" name="writer" id="writer"></td>
							</tr>
							<tr>
								<td colspan="2" align="center">
									<a href="boardList.do">
										<button type="button" class="btn btn-info">
											돌아가기
										</button>
									</a>
									<button type="reset" class="btn btn-info">
										취소
									</button>
									<button type="submit"  class="btn btn-primary">
										작성
									</button>
								</td>
							</tr>	    	
						</table>
			    	</form>
					
				</div>
		    	<div class="panel-footer">LG DX - 이혜영</div>
		    </div>
		</div>
	</body>
</html>